body {
  background: #F6F6F6;
}

.game-container {
  position: relative;
}
.game-container:before {
  display: block;
  content: '';
  padding-top: 66.6666%;  
}
.game {
  position: absolute;
  top:    0;
  left:   0;
  bottom: 0;
  right:  0;

  background: #FFF;
}
.game {
  -webkit-tap-highlight-color: transparent;
}
.game_dialogue {
  position: absolute;
  height: 25%;
  left:   0;
  bottom: 0;
  right:  0;

  background: #F6F6F6;
}
.game_dialogue {
  user-select: none;
  cursor: default;
}


@media (min-width: 1200px){
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  .game-container {
    border: 1px solid silver;
    margin-top: 40px;
  }
}