.game-container {
  position: relative;
}
.game-spacer {
  padding-top: 66.6666%;  
}
.game {
  position: absolute;
  top:    0;
  left:   0;
  bottom: 0;
  right:  0;
}

@media (min-width: 1200px){
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  .game-container {
    border: 1px solid silver;
    margin-top: 40px;
  }
}