<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Captain Cutout's Card Creations</title>

  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900|Open+Sans:400italic,700,400' rel='stylesheet' type='text/css'>

  <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>
  
  <div class="container">

    <div class="game-container">
      <div id="stage" class="game">
        
        {% include "./include/layers/desk.html" %}

        {% include "./include/layers/enrollment.html" %}
        
        {% include "./include/layers/dialogue.html" %}

        {% include "./include/layers/hud.html" %}

        {% include "./include/layers/menu.html" %}

        {% include "./include/layers/title.html" %}

        {% include "./include/layers/credits.html" %}

      </div>
    </div>

  </div>

  <script src="js/bundle.js"></script>
</body>
</html>
