@import "./variables";
@import "./mixins";

html, body {
  height: 100%;
}
body {
  background: $lightgray;
}

.container {
  display:       flex;
  align-content: center;
  height:        100%;
}
.game-container {
  position: relative;
  margin:   auto;
  width:    100%;
}
.game-container:before {
  display: block;
  content: '';
  padding-top: 100% * (2 / 3);
}
.game {
  @include full-screen();
}

@media (min-width: 1200px){
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  .game-container {
    border: 1px solid $darkgray;
  }
}