@import "./variables";
@import "./mixins";

@import "./dialogue";
@import "./credits";


// Typography // --------------------------------------------------------------

body {
  font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}


// Links // -------------------------------------------------------------------

a {
  color: #1EAEDB;
}
a:hover {
  color: #0FA0CE;
}


// Buttons // -----------------------------------------------------------------
.button {
  $dark-melon: darken($melon, 3%);

  font-family: 'Lato';
  font-size:   1.3em;
  font-weight: 300;
  text-shadow: 0 -0.1ex $dark-melon;
  color:       $white;
  
  padding-top:    0.8em;
  padding-bottom: 0.8em;

  background-color: $melon;
  background:       linear-gradient(to bottom, $melon, $dark-melon);
  box-shadow:
    inset 0 0.1ex 0     transparentize($white, 0.5),
          0 0.1ex 0.2ex transparentize($black, 0.85);

  border:        0.1ex solid darken($dark-melon, 8%);
  border-radius: 2em;
}
.button--block {
  display: block;
  width: 100%;
}


// Game Frame // --------------------------------------------------------------

.game {
  background: $white;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}
.game_layer {
  @include full-screen();
  pointer-events: none;
}
.game_layer {
  user-select: none;
  cursor: default;
}
.game_layer.is-hidden * {
  pointer-events: none;
}


// Desk Layer // --------------------------------------------------------------

.desk_background {
  pointer-events: all;
  width:  100%;
  height: 100%;
}
.card_cut {
  stroke: $black;
  stroke-width: 2;
  fill:   none;
}
.card_target {
  fill: transparentize($black, 0.8);
}
.card_overlap {
  fill: transparentize($magenta, 0.8);
}


// HUD Layer // ---------------------------------------------------------------

.autosave-icon {
  position: absolute;
  width:    5%;
  right:    0;
  bottom:   0;
}
.autosave-icon.is-hidden {
  display: none;
}

.timer.is-hidden {
  display: none;
}


// Menu Layer // --------------------------------------------------------------

.menu {
  transition: opacity 0.25s;
}
.menu.is-hidden {
  opacity: 0;
}

.menu_background {
  pointer-events: all;
  width:  100%;
  height: 100%;
}
.menu_background {
  display:       flex;
  align-content: center;
  
  color:      $white;
  background: $black;
  background: transparentize($black, 0.25);
}
.menu_background h3 {
  margin: auto;
}


// Title Layer // -------------------------------------------------------------

.title {
  pointer-events: all;
}
.title {
  display:       flex;
  align-content: center;
  
  background: $darkgray;
}
.title.is-hidden {
  display: none;
}
.title_background {
  @include full-screen();
}
.title_menu {
  width: 50%;
  margin: auto;
  text-align: center;
  z-index: 1;
}
.title_menu h1 {
  color: rgb(142, 103, 46);
}
.title_menu .button {
  width: 50%;
  margin: auto;
}
.title_menu .button + .button {
  margin-top: 5%;
}
