@import "./variables";
@import "./mixins";

@import "./layer";
@import "./cut";

@import "./layers/desk";
@import "./layers/dialogue";
@import "./layers/enrollment";
@import "./layers/mail";
@import "./layers/hud";
@import "./layers/menu";
@import "./layers/title";
@import "./layers/credits";


// Typography // --------------------------------------------------------------

body {
  font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}


// Links // -------------------------------------------------------------------

a {
  color: #1EAEDB;
}
a:hover {
  color: #0FA0CE;
}


// Buttons // -----------------------------------------------------------------

$dark-melon: darken($melon, 3%);
.button {
  font-family: 'Lato';
  font-size:   1.3em;
  color:       $white;
  text-shadow: 0 -2px darken($dark-melon, 8%);
  
  padding-top:    0.8em;
  padding-bottom: 0.8em;

  background-color: $melon;
  background:       linear-gradient(to bottom, $melon, $dark-melon);
  box-shadow:
    inset 0 1px 0   transparentize($white, 0.5),
          0 1px 2px transparentize($black, 0.85);

  border:        0.1ex solid darken($dark-melon, 8%);
  border-radius: 2em;
}
.button:hover,
.button:focus {
  background-color: lighten($melon, 5%);
  background:       linear-gradient(to bottom, lighten($melon, 3%), $dark-melon);

  outline: none;
}
.button:active {
  color:       darken($dark-melon, 8%);
  text-shadow: 0 1px transparentize($white, 0.6);

  background: desaturate($melon, 10%);
  box-shadow:
    inset 0 1px 3px transparentize($black, 0.8),
          0 1px 0   $white;
}
.button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}


.button--block {
  display: block;
  width: 100%;
}

.button--flat,
.button--flat:hover,
.button--flat:focus,
.button--flat:active {
  text-shadow: none;
  background: none;
  box-shadow: none;
}
.button--flat {
  border: 0.3ex solid $dark-melon;
  color: $dark-melon;
}