@import "./variables";
@import "./mixins";

body {
  font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}


// Game Frame // --------------------------------------------------------------

.game {
  background: $white;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}
.game_layer {
  @include full-screen();
  pointer-events: none;
}
.game_layer {
  user-select: none;
  cursor: default;
}
.game_layer.is-hidden * {
  pointer-events: none;
}


// Desk Layer // --------------------------------------------------------------

.desk_background {
  pointer-events: all;
  width:  100%;
  height: 100%;
}
.desk_background path {
  stroke: $black;
  stroke-width: 2;
  fill:   none;
}


// Dialogue Layer // ----------------------------------------------------------

.dialogue_background {
  position: absolute;
  height: 25%;
  left:   0;
  bottom: 0;
  right:  0;
  pointer-events: all;
}
.dialogue_background {
  background: url("/images/lightpaperfibers_@2X.png");
  transition: bottom 0.25s ease-in;

  box-shadow: 0 0 10px transparentize($black, 0.9);
}
.dialogue.is-hidden .dialogue_background {
  bottom: -25%;
}

.dialogue_portrait {
  float:  left;
  width:  17%;
  height: 100%;
}
.dialogue_portrait[data-speaker="Cap’n Cutout"] {
  background: url("/images/cc-default.svg");
}
.dialogue_portrait[data-speaker="Alma"] {
  background: url("/images/alma-default.svg"); 
}


// Menu Layer // --------------------------------------------------------------

.menu {
  transition: opacity 0.25s;
}
.menu.is-hidden {
  opacity: 0;
}

.menu_background {
  pointer-events: all;
  width:  100%;
  height: 100%;
}
.menu_background {
  display:       flex;
  align-content: center;
  
  color:      $white;
  background: $black;
  background: transparentize($black, 0.25);
}
.menu_background h3 {
  margin: auto;
}


// Title Layer // -------------------------------------------------------------

.title {
  pointer-events: all;
}
.title {
  display:       flex;
  align-content: center;
  
  background: $darkgray;
}
.title.is-hidden {
  display: none;
}
.title_buttons {
  width: 50%;
  margin: auto;
}
.title_buttons .button + .button {
  margin-top: 10%;
}


// Credits Layer // -----------------------------------------------------------

.credits {
  pointer-events: all;
}
.credits {
  display:       flex;
  align-content: center;

  color:      $white;
  background: $black;
}
.credits.is-hidden {
  display: none;
}
.credits_reel {
  margin: auto;
}


// Buttons // -----------------------------------------------------------------

.button--block {
  display: block;
  width: 100%;
}