@import "./variables";
@import "./mixins";


// Desk Layer // --------------------------------------------------------------

.desk_background {
  pointer-events: all;
  width:  100%;
  height: 100%;
}

//UI-Hints
.card_cut_start {
  fill: none;
  opacity: 0;
  transition: opacity 0.75s;
  
  circle {
    transform:  scale(0,0);
    transition: transform 0.25s ease-out;
    
    shape-rendering:  geometricPrecision;
    stroke:           $black;
    stroke-dasharray: 5;
    stroke-width:     3;
  }
}
.card_cut_end {
  fill: $black;
  opacity: 0;
  transition: opacity 0.75s;
  
  circle {
    transform:  scale(1,1);
    transition: transform 0.25s;

    shape-rendering: geometricPrecision;
    animation: 1s pulse infinite alternate;
    animation-timing-function: ease-in-out;
  }
}

.desk[data-task="cutout"]{
  .card_cut_start,
  .card_cut_end {
    opacity: 0.2;
  }

  &.is-dragging {
    .card_cut_end {
      circle {
        animation: 0.25s shrink 1 forwards;
        animation-timing-function: ease-in;
      }
    }
  }

  &.is-close {
    .card_cut_start {
      circle {
        transform: scale(1,1);
      }
    }
  }
}


//Target Shape
.card_target {
  fill:    none;
  opacity: 0;
  transition: opacity 0.75s;

  stroke:           $black;
  stroke-dasharray: 10;
  stroke-width:     3;
}
.card_overlap {
  fill: transparentize($magenta, 0.8);
}

.desk[data-task="cutout"]{
  .card_target {
    opacity: 0.2;
  }
}


//Template
.template {
  fill: $white;
}
.template.is-hidden,
.template_target.is-hidden {
  display: none;
}
.template_target {
  fill:       none;
  opacity:    0;
  transition: opacity 0.75s;

  stroke:           $black;
  stroke-dasharray: 5;
  stroke-width:     3;
}

.desk[data-task="drag-template"]{
  &.is-dragging {
    .template_target {
      opacity: 0.2;
    }
  }
}


//Card flip
.desk {
  perspective: 80em;
}
.card_shape {
  transform-style: preserve-3d;
  transform-origin: 480px;
  transform: rotateY(0deg);
  visibility: hidden;
}
.card-face--front {
  transform-origin: 480px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.card-face--back {
  transform-origin: 480px;
  transform: rotateY(180deg);
  visibility: hidden;
}

.desk[data-task="finished"]{
  .card_shape {
    visibility: visible;
    animation: flip 1.5s 1 forwards;
  }
  .card-face--front {
    animation: flip-front 1.5s 1 forwards;
  }
  .card-face--back {
    animation: flip-back 1.5s 1 forwards;
  }
}

.card_shape {
  filter: url('#drop-shadow');
}
.card-face--front {
  filter: url('#silhouette');
}



//Masking
#cut .cut_background {
  fill: $white;
}
#cut .cut_path {
  fill: none;
  stroke: $black;
  stroke-width: 4;
}

.card_paper {
  filter: url('#drop-shadow');
}
.paper {
  fill: $pistachio;
  mask: url('#cut');
}
.card_paper.is-hidden {
  display: none;
}


@keyframes pulse {
  0%   { transform: scale(1, 1);     }
  100% { transform: scale(1.2, 1.2); }
}
@keyframes shrink {
  0%   { transform: scale(1, 1);     }
  100% { transform: scale(0.2, 0.2); }
}
@keyframes flip {
  0%   {
    transform: translateY(0)    translateZ(0)    rotateY(0deg);
    animation-timing-function: ease-in;
  }
  50%  {
    transform: translateY(-3em) translateZ(10em) rotateY(90deg);
  }
  100% {
    transform: translateY(0)    translateZ(0)    rotateY(180deg);
    animation-timing-function: ease-out;
  }
}
@keyframes flip-front {
  0%   {
    visibility: visible;
  }
  50%  {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes flip-back {
  0%   {
    visibility: hidden;
  }
  50%  {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}