@import "./variables";
@import "./mixins";


// Desk Layer // --------------------------------------------------------------

.desk_background {
  pointer-events: all;
  width:  100%;
  height: 100%;
}

//UI-Hints
.card_cut_start {
  fill: none;
  opacity: 0.2;
  
  circle {
    transform:  scale(0,0);
    transition: transform 0.25s ease-out;
    
    shape-rendering:  geometricPrecision;
    stroke:           $black;
    stroke-dasharray: 5;
    stroke-width:     3;
  }
}
.card_cut_end {
  fill: black;
  opacity: 0.2;
  
  circle {
    transform:  scale(1,1);
    transition: transform 0.25s;

    shape-rendering: geometricPrecision;
    animation: 1s pulse infinite alternate;
    animation-timing-function: ease-in-out;
  }
}

.desk.is-dragging {
  .card_cut_end {    
    circle {
      animation: 0.25s shrink 1 forwards;
      animation-timing-function: ease-in;
    }
  }
}
.desk.is-close {
  .card_cut_start {
    circle {
      transform: scale(1,1);
    }
  }
}


//Target Shape
.card_target {
  fill:    none;
  opacity: 0.2;

  stroke:           $black;
  stroke-dasharray: 10;
  stroke-width:     3;
}
.card_overlap {
  fill: transparentize($magenta, 0.8);
}


//Template
.template {
  fill: $white;
}
.template.is-hidden,
.template_target.is-hidden {
  display: none;
}
.template_target {
  fill:       none;
  opacity:    0;
  transition: opacity 0.75s;

  stroke:           $black;
  stroke-dasharray: 5;
  stroke-width:     3;
}
.desk.is-dragging {
  .template_target {
    opacity: 0.2;
  }
}


//Masking
#cut .cut_background {
  fill: $white;
}
#cut .cut_path {
  fill: none;
  stroke: $black;
  stroke-width: 4;
}

.card_paper {
  filter: url('#drop-shadow');
}
.paper {
  fill: $pistachio;
  mask: url('#cut');
}
.card_paper.is-hidden {
  display: none;
}


@keyframes pulse {
  0%   { transform: scale(1, 1);     }
  100% { transform: scale(1.2, 1.2); }
}
@keyframes shrink {
  0%   { transform: scale(1, 1);     }
  100% { transform: scale(0.2, 0.2); }
}