@import "./variables";
@import "./mixins";


// Dialogue Layer // ----------------------------------------------------------

.dialogue_background {
  position: absolute;
  height: 25%;
  left:   0;
  bottom: 0;
  right:  0;
  pointer-events: all;
}
.dialogue_background {
  background: url("/images/lightpaperfibers_@2X.png");
  transition: bottom 0.25s ease-in;

  box-shadow: 0 0 10px transparentize($black, 0.9);
}
.dialogue.is-hidden .dialogue_background {
  bottom: -25%;
}

.dialogue_portrait {
  float:  left;
  width:  100% * 1/6;
  height: 100%;
}
.dialogue_portrait[data-speaker="Cap’n Cutout"] {
  &[data-expression="default"]{
    background: url("/images/cc-default.svg");
  }
  &[data-expression="questioning"]{
    background: url("/images/cc-questioning.svg");
  }
  &[data-expression="sad"]{
    background: url("/images/cc-sad.svg");
  }
  &[data-expression="silly"]{
    background: url("/images/cc-silly.svg");
  }
}
.dialogue_portrait[data-speaker="Alma"] {
  &[data-expression="default"]{
    background: url("/images/alma-default.svg"); 
  }
  &[data-expression="laughing"]{
    background: url("/images/alma-laughing.svg"); 
  }
  &[data-expression="questioning"]{
    background: url("/images/alma-questioning.svg"); 
  }
  &[data-expression="sad"]{
    background: url("/images/alma-sad.svg"); 
  }
}
