@import "./variables";
@import "./mixins";


// Enrollment Layer // --------------------------------------------------------

.enrollment {
  z-index: 1;
  transition: top 0.5s ease-out;
}
.enrollment.is-hidden {
  top: -100%;
}

.enrollment-form {
  background: $white;
  width: 60%;
  margin: auto;
  
  padding: 2em;
  padding-top: 0;
  box-shadow: 0 0 10px transparentize($black, 0.9);
  pointer-events: all;
}
.enrollment_form-field {
  padding: 1em;
}
.enrollment_form-field + .enrollment_form-field {
  border-top: 0.3ex dotted transparentize($black, 0.4);
}
.enrollment_form-field > label {
  margin-bottom: 1em;
}
.enrollment_title {
  padding: 1em;
  padding-top: 2em;
  text-align: center;
  border-bottom: 0.3ex dotted transparentize($black, 0.4);
}

/* Form Numbering */
.enrollment-form {
  counter-reset: form;
}
.enrollment_form-field {
  counter-increment: form;
}
.enrollment_form-field > label:before {
  font-weight: bold;
  content:     counter(form, lower-alpha) " ";
}


/* Controls Layout */
.enrollment_form-controls {
  margin-top: 1em;
  display: flex;
  color: $darkestgray;
}
.enrollment_form-controls label {
  flex: 1;
  line-height: 1em;
  position: relative;
}


/* Fancy Text Input */
.enrollment-form input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  width: 100%;
  margin-left: 1em;
}
.enrollment-form input[type="text"]:focus {
  outline: none;
}


/* Fancy Radio Buttons */
$radio-button-size: 2em;

.enrollment-form input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  
  width:  $radio-button-size;
  height: $radio-button-size;
  margin: 0 -$radio-button-size -$radio-button-size 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  opacity: 0.001;
}
.enrollment_radio-button-label {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  user-select: none;
}
.enrollment_radio-button {
  display:  block;
  position: relative;
  vertical-align: top;
  width:  $radio-button-size;
  height: $radio-button-size;
  margin: auto;
  padding-top: 1.5em;
  user-select: none;
}
.enrollment_radio-button:before {
  content:    '';
  position:   absolute;
  box-sizing: border-box;
  
  width:  $radio-button-size;
  height: $radio-button-size;
  left:   50%;
  top:    50%;
  transform: translate(-50%,-50%);

  background: $white;
  border: 0.3ex solid $darkestgray;
  border-radius: 100%;
  cursor: pointer;
}
.enrollment_radio-button:after {
  opacity: 0;
  content: '';
  position: absolute;
  
  width:  $radio-button-size * 0.75;
  height: $radio-button-size * 0.75;
  
  left:   50%;
  top:    50%;
  transform: translate(-50%,-50%);

  background: $darkestgray;
  border-radius: 100%;
  cursor: pointer;
}
input[type=radio]:checked + .enrollment_radio-button:after {
  opacity: 1;
}

/* Button */
.enrollment-form .button {
  font-size: 1em;
  border-color: $darkestgray;
  color: $darkestgray;
}
.enrollment-form .button:active {
  border-color: $darkestgray;
  color: $darkestgray;
}
